@import "./defaults";
@import "./variables";

@mixin tiny-screens {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screens {
  @media only screen and (max-width: 680px) {
    @content;
  }
}

@mixin large-screens {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin warning {
  background-color: orange;
  color: #fff;
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
  color: $secondary-color;
}

@mixin rounded($radius: $default-radius) {
  border-radius: $radius;
}

@mixin underlined {
  text-decoration: underline;
}

@mixin circled {
  border-radius: 50%;
}

@mixin avatar {
  @include circled;
  max-width: 50px;
  max-height: 50px;
}

@mixin box($radius: $default-radius, $border: $default-border) {
  @include rounded($radius);
  border: $border solid #333;
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
    letter-spacing: 0.15em;
  }
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-shadow: $shadows;
}

@mixin apply-to-ie-6 {
  * html {
    @content;
  }
}

@mixin google-font($font) {
  $font: unquote($font);
  @import url("https://fonts.googleapis.com/css?family=#{$font}");
}

@mixin blue-beans {
  @if $brand == blue-beans {
    @content;
  }
}

@mixin pastry-pizza {
  @if $brand == pastry-pizza {
    @content;
  }
}

@mixin rogers-rovers {
  @if $brand == rogers-rovers {
    @content;
  }
}
