<article id="configuration">
  <h2>7. Configuration</h2>
  <p>
    So that the Spring framework can run and wire everything as desired, the
    annotations are attached directly to the code and xml configuration files
    are created.
  </p>
  <div class="info-box">
    <div class="info-box-title">
      <b> Spring Config Files </b>
    </div>
    <div class="info-box-message">
      In this example we assume a "Core Service". With a service in the customer
      project, the beans come in the masterconsole.xml and jobcommander.xml.
    </div>
  </div>
  <p>The following jump configurations are to be made on the WMS</p>
  page.
  <p>
    The local services are defined as beans in the
    <b> config-wms-ord-zoo-service.xml </b>
    file.
  </p>

  <pre> config-wms-ord-zoo-service.xml </pre>

  <p>
    In order for the file to be loaded, a corresponding reference must be
    entered in the <b> config-wms-ord-generalservice.xml </b>
    file.
  </p>

  <pre>config-wms-ord-generalservice.xml</pre>

  <p>
    In the <b> config-wms-ord-remoteservices.xml</b>
    file, the RMI services are registered as beans.
  </p>

  <pre> config-wms-ord-remoteservices.xml</pre>

  <p>
    And finally, on the client side, the following configurations are made in
    the <b> config-client-remoteservices-wms.xml </b>
    file.
  </p>

  <pre> config-client-remoteservices-wms.xml</pre>

  <p>
    All the necessary configurations have now been created and the services can
    be tested. To use the Remote Services in a distributed environment and not
    on a PC as in this example, the appropriate entries must be made in the
    <b>site.properties</b> file.
  </p>

  <h3>7.1 Automatic adjustments to the schema</h3>
  <p>
    The database schema update is controlled via the bean jpaProperties with the
    property hibernate.hbm2ddl.auto.
  </p>
  <p>
    For the CORE, the configuration is in the config-base-database.xml file and
    validate is the default. To create the scheme, this value must be set to at
    least update.
  </p>

  <h3>7.2 Customizations</h3>
  <p>
    A new <b> config-wms-hibernate-PRJ.xml </b>
    must be created in the project so that the customer-specific repositories
    can also be found by the JPA.
  </p>

  <pre> config-wms-hibernate-PRJ.xml</pre>
</article>
