<header id="header">
  <nav id="main-menu">
    <img id="logo" alt="logo" src="../assets/logo.png" />
    <ul>
      <li>
        <a
          routerLink="/index"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          >About Me</a
        >
      </li>
      <li>
        <a
          routerLink="/portfolio"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          >Portfolio</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          rou
          >Get in Touch</a
        >
      </li>
    </ul>
  </nav>
</header>
