@use "sass:math";
@import "src/scss/partials/mixins";
@import "src/scss/partials/variables";

#main {
  margin: 0 auto;
  width: $content-width;
  max-height: calc(100vh - $footer-height - $header-height);
  height: calc(100vh - $footer-height);
  overflow: auto;

  @include large-screens {
    width: auto;
    color: lightblue;
    font-size: 80%;
    max-width: math.div($content-width, 1.5);
  }
}
