@import "./scss/partials/functions";
@import "./scss/partials/variables";
@import "./scss/partials/mixins";
@import "./scss/typography";

%highlight {
  font-style: italic;
}

.error {
  color: red;
}

.subtitle {
  @extend %highlight;
  @extend .error;
  text-decoration: underline;
  font-size: em(22px);
  @extend .foo !optional;
}

.warning-button {
  @include warning;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    color: darken($color: orange, $amount: 10%);
    background-color: darken(#fff, 10%);
    border: darken($color: orange, $amount: 10%) 2px solid;
  }
}

.cta-button {
  @extend .warning-button;
  @include rounded;
  font-weight: bold;
}

.critical-error {
  @extend .error;
  @include rounded;
  border: 1px solid red;
  font-weight: bold;
  padding: em(5px);
}

.active-link {
  color: $link-active-color;
}
