@import "./partials/functions";
@import "./partials/variables";
@import "./partials/mixins";

// this will generate 6x .col-x classes
@for $i from 1 through 6 {
  .col-#{$i} {
    width: $i * 2em;
  }
}

// this will generate ONLY 5x .col-x classes
@for $i from 1 to 6 {
  .col-#{2*$i} {
    width: $i * 2em;
  }
}

// this will generate the same CSS of the previous loop
$j: 2;
@while $j < 6 {
  .col-#{2*$j} {
    width: $j * 2em;
  }
  $j: $j + 1;
}

// a list
$speakers: bob-banker, patty-plume, sandra-smith;
// foreach element in the list
@each $speaker in $speakers {
  .#{$speaker}-profile {
    background-image: url("/img/#{$speaker}.png");
  }
}

$font-sizes: (
  tiny: 8px,
  small: 11px,
  medium: 13px,
  large: 18px,
);
@each $name, $size in $font-sizes {
  .#{$name} {
    font-size: $size;
  }
}

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

@include fancy-links;

@include apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: sans-serif;
  color: $text-color;
  color: rgb(10, 15, 10);
  background-color: $body-background-color;
  max-height: calc(100vh - 2%);
  @if $contrast == high {
    color: #666;
  } @else if $contrast == low {
    color: #888;
  } @else {
    color: #aaa;
  }
  @include large-screens {
    font-size: 90%;
  }
  @include medium-screens {
    font-size: 80%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $headline-font;
}
h1 {
  @include extra-large-text;
}
h2 {
  @include large-text;
}

p {
  font-family: $text-font;
  text-align: justify;
}

a {
  color: $link-color;

  @include blue-beans {
    color: #8779ff;
  }

  &:hover {
    color: darken($link-color, 15%);
  }
}

nav {
  padding: 0.4em;
}
